<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <p>Interner Status</p>
  </div>
  <div class="col-sm-3">
    <p>{{ selectedValuePosition }}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>Employee: </p>
  </div>
  <div class="col-sm-4">
    <mat-form-field>
      <mat-label>Choose an employee</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let data of inputData; trackBy: trackByFn" [value]="data">
          {{ data.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-2">
    <p>Birthdate: </p>
  </div>
  <div class="col-sm-2">
    <p>{{ selectedValueBirthday | date: 'dd/MM/yyyy' }}</p>
  </div>
</div>
<div class="row">
  <h2>ID'S and Bonus system</h2>
  <div class="row">
    <div class="col-sm-2">
      <p>AVIS customer card</p>
    </div>
    <div class="col-sm-2">
      <p *ngIf="selectedValue"><b>{{ selectedValueAvisState ? 'registriert' : 'nicht registriert'}}</b></p>
    </div>
    <div class="col-sm-3">
      <p>{{ selectedValueAvisId }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>Swisspass</p>
    </div>
    <div class="col-sm-2">
      <p *ngIf="selectedValue"><b>{{ selectedValueSwisspassState ? 'registriert' : 'nicht registriert' }}</b></p>
    </div>
    <div class="col-sm-3">
      <p>{{ selectedValueSwisspassId }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>Bonus system 1</p>
    </div>
    <div class="col-sm-2">
      <p><b>{{ selectedValueBonus[0]}}</b></p>
    </div>
    <div class="col-sm-3">
      <p>{{ selectedValueBonusId[0] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>Bonus system 2</p>
    </div>
    <div class="col-sm-2">
      <p><b>{{ selectedValueBonus[1] }}</b></p>
    </div>
    <div class="col-sm-3">
      <p>{{ selectedValueBonusId[1] }}</p>
    </div>
  </div>
</div>
<div class="row">
  <h2>Preferences</h2>
  <div class="row">
    <div class="col-sm-2">
      <p>Seat reservation</p>
    </div>
    <div class="col-sm-4">
      <p><b>{{ selectedValueBook}}</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>Preferred seat</p>
    </div>
    <div class="col-sm-3">
      <p><b>{{ selectedValuePreferredSit }}</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p>Individual wish</p>
    </div>
    <div class="col-sm-3">
      <p><b>{{ selectedValueNotes[0]}}</b></p>
    </div>
  </div>
</div>
<div class="row">
  <h2>Internal notes</h2>
  <p>{{ selectedValueNotes[1] }}</p>
</div>
<div class="row">
  <h2>5 Star accomodations</h2>
  <table mat-table>
    <ng-container matColumnDef="stayId">
      <th mat-header-cell *matHeaderCellDef>Stay ID</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="column2">
      <th mat-header-cell *matHeaderCellDef>Column 2</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef>Purpose</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="column1">
      <th mat-header-cell *matHeaderCellDef>Column 1</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
