  <div class="con">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Person Details</mat-card-title>
            <mat-card-subtitle>Overview of the details of the employee</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-travel-details [inputData]="fakeData"></app-travel-details>
        </mat-card-content>
    </mat-card>
      <div class="header-section">
        <div class="row">
          <div class="col-xs-2">
            <h4>Period</h4>
          </div>
          <div class="col-xs-2">
            <h4>Start date</h4>
          </div>
          <div class="col-xs-2">
            <h4>End date</h4>
          </div>
          <div class="col-xs-2">
            <h4>Shown Period</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <p>Without filter</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2">
            <p>01.01.1900-31-12.2100</p>
          </div>
        </div>
      </div>
      <app-travel-table [inputData]="mockData"></app-travel-table>
</div>
