<mat-toolbar>
    <span>Travel Management</span>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="/">Home</a>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="/person-edit">Person</a>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="/travel-edit">Travels</a>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="/travel-list">Travel List</a>
      </li>
    </ul>
</mat-toolbar>

<router-outlet></router-outlet>
