<h2>Add new stay</h2>
  <div class="row">
    <div class="col-x2-6 col-md-2">
      <h4>Infos to the person</h4>
    </div>
    <div class="col-x2-6 col-md-2">
      <h4>Travel dates</h4>
    </div>
    <div class="col-x2-6 col-md-2"></div>
    <div class="col-x2-6 col-md-2">
      <h4>Promotion</h4>
    </div>
    <div class="col-x2-6 col-md-2">
      <h4>Comments</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Name of traveler</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Check-In time</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="inputWidth">
        <mat-label>Check-In date</mat-label>
        <input matInput [matDatepicker]="checkIn">
        <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
        <mat-datepicker #checkIn></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>City of accomodation</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country of accomodation</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Booking reference</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>State of booking</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Comments</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rating</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Check-Out time</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="inputWidth">
        <mat-label>Check-Out date</mat-label>
        <input matInput [matDatepicker]="checkOut">
        <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
        <mat-datepicker #checkOut></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Paid currency</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
<button mat-raised-button>Show travels</button>
