<div class="container con">
  <h2>Add new employee</h2>
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <h3>Person</h3>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Bonusprogram</h3>
      <mat-form-field>
        <mat-label>1. Bonusprogram</mat-label>
        <input matInput formControlName="bonusprogramm1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="bonusprogrammId1">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Customer card und Swisspass</h3>
      <mat-form-field>
        <mat-label>Swisspass state</mat-label>
        <input matInput formControlName="swisspassState">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Preferences</h3>
      <mat-form-field>
        <mat-label>Book?</mat-label>
        <mat-select formControlName="book">
            <mat-option value="true">Yes</mat-option>
            <mat-option value="false">No</mat-option>
        </mat-select>
        <input matInput >
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Notes</h3>
      <mat-form-field>
        <mat-label>Note 1</mat-label>
        <input matInput formControlName="note1">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field class="inputWidth">
        <mat-label>Birthdate</mat-label>
        <input matInput formControlName="birthdate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>2. Bonusprogram</mat-label>
        <input matInput formControlName="bonusprogramm2">
      </mat-form-field>
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="bonusprogrammId2">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-3">
      <mat-form-field>
        <mat-label>Swisspass ID</mat-label>
        <input matInput formControlName="swisspassId">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Preferred seat</mat-label>
        <input matInput formControlName="preferredSit">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="preferredSit2">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Note 2</mat-label>
        <input matInput formControlName="note2">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Position</mat-label>
        <input matInput formControlName="position">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-3">
      <mat-form-field>
        <mat-label>AVIS state</mat-label>
        <input matInput formControlName="avisState">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-3">
      <mat-form-field>
        <mat-label>AVIS ID</mat-label>
        <input matInput formControlName="avisId">
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
  </div>
  <button mat-raised-button type="submit">Show travels</button>
</form>
</div>
