<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <h3>Person</h3>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Bonusprogramme</h3>
      <mat-form-field>
        <mat-label>1. Bonusprogramm</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Kundenkarte und Swisspass</h3>
      <mat-form-field>
        <mat-label>Swisspass Status</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Präferenzen</h3>
      <mat-form-field>
        <mat-label>Reservieren?</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <h3>Notizen</h3>
      <mat-form-field>
        <mat-label>Notiz 1</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Geburtsdatum</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>2. Bonusprogramm</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Swisspass ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Bevorzugter Sitzplatz</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-4">
      <mat-form-field>
        <mat-label>Notiz 2</mat-label>
        <input matInput>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Interner Stand</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Swisspass ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>AVIS Status</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>AVIS ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
</div>
