<h2>Neue Person hinzufügen</h2>
<div class="example-container">
  <form>
    <div class="col">
      <div class="row">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Geburtsdatum</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Interner Stand</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <mat-form-field>1. Bonusprogramm</mat-form-field>
        <input matInput type="text">
        <mat-form-field>ID</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>2. Bonusprogramm</mat-form-field>
        <input matInput type="text">
        <mat-form-field>ID</mat-form-field>
        <input matInput type="text">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <mat-form-field>Swisspass Status</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>Swisspass ID</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>AVIS Status</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>AVIS ID</mat-form-field>
        <input matInput type="text">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <mat-form-field>Reservieren?</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>Bevorzugter Sitzplatz</mat-form-field>
        <input matInput type="text">
        <input matInput type="text">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <mat-form-field>Notiz 1</mat-form-field>
        <input matInput type="text">
      </div>
      <div class="row">
        <mat-form-field>Notiz 2</mat-form-field>
        <input matInput type="text">
      </div>
    </div>
  </form>
</div>
