<div class="row">
  <div class="row">
    <div class="col-xs-2">
      <h4>Period</h4>
    </div>
    <div class="col-xs-2">
      <h4>Start date</h4>
    </div>
    <div class="col-xs-2">
      <h4>End date</h4>
    </div>
    <div class="col-xs-2">
      <h4>Shown Period</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Without filter</p>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <p>01.01.1900-31-12.2100</p>
    </div>
  </div>
</div>
<div class="row">
  <mat-table>
    <ng-container matColumnDef="travelID">
      <th mat-header-cell *matHeaderCellDef>T. ID</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="departDate">
      <th mat-header-cell *matHeaderCellDef>Departure date</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="departTime">
      <th mat-header-cell *matHeaderCellDef>Departure time</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="departPlace">
      <th mat-header-cell *matHeaderCellDef>Departure city</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="departCountry">
      <th mat-header-cell *matHeaderCellDef>Departure country</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="arriveDate">
      <th mat-header-cell *matHeaderCellDef>Arrival date</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="arriveTime">
      <th mat-header-cell *matHeaderCellDef>Arrival time</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="arrivePlace">
      <th mat-header-cell *matHeaderCellDef>Arrival city</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="arriveCountry">
      <th mat-header-cell *matHeaderCellDef>Arrival country</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="promoCompany">
      <th mat-header-cell *matHeaderCellDef>Promotion company</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="bookReference">
      <th mat-header-cell *matHeaderCellDef>Booking reference</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="bookState">
      <th mat-header-cell *matHeaderCellDef>Booking state</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price CHF</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="payState">
      <th mat-header-cell *matHeaderCellDef>Payment state</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="travelReason">
      <th mat-header-cell *matHeaderCellDef>Traveling reason</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>
<div class="row">
  <mat-table>
    <ng-container matColumnDef="stayID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="checkInDate">
      <th mat-header-cell *matHeaderCellDef>Check In Date</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="checkOutDate">
      <th mat-header-cell *matHeaderCellDef>Check Out Date</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="accomodation">
      <th mat-header-cell *matHeaderCellDef>Accomodation name</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Room type</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="bookState">
      <th mat-header-cell *matHeaderCellDef>Booking state</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="paymentState">
      <th mat-header-cell *matHeaderCellDef>Payment state</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price CHF</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef>Purpose</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="reserve1">
      <th mat-header-cell *matHeaderCellDef>Reserve 1</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="reserve2">
      <th mat-header-cell *matHeaderCellDef>Reserve 2</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="reserve3">
      <th mat-header-cell *matHeaderCellDef>Reserve 3</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dispColumns;"></tr>
  </mat-table>
</div>
<button mat-raised-button>Reset filter</button>
