<div class="container con-top">
  <h2>Neue Reise hinzufügen</h2>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <h4>Daten zur Person</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <h4>Reisedaten</h4>
    </div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <h4>Beförderung</h4>
    </div>
    <div class="col-xs-6 col-md-2">
      <h4>Bemerkung</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Name des Reisenden</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Abreisezeit</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Abreisedatum</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Abfahrtsort</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Abfahrtsland</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Buchungsreferenz</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status der Buchung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Bemerkung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Ankunftszeit</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ankunftsdatum</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Zielort</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zielland</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Preis</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bezahlte Währung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <button mat-stroked-button>Reise anzeigen</button>
</div>
<mat-divider></mat-divider>
<div class="container con-bottom">
  <h2>Neuen Aufenthalt hinzufügen</h2>
  <div class="row">
    <div class="col-x2-6 col-md-2">
      <h4>Daten zur Person</h4>
    </div>
    <div class="col-x2-6 col-md-2">
      <h4>Reisedaten</h4>
    </div>
    <div class="col-x2-6 col-md-2"></div>
    <div class="col-x2-6 col-md-2">
      <h4>Beförderung</h4>
    </div>
    <div class="col-x2-6 col-md-2">
      <h4>Bemerkung</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Name des Reisenden</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Check-In Zeit</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Check-In Datum</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Ort der Unterkunft</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Land der Unterkunft</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Buchungsreferenz</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status der Buchung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Bemerkung</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bewertung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Check-Out Zeit</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Check-Out Datum</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
      <mat-form-field>
        <mat-label>Preis</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bezahlte Währung</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
<button mat-stroked-button>Reisen anzeigen</button>
</div>
