<h2>Add new journey</h2>
<div class="row">
  <div class="col-xs-6 col-md-2">
    <h4>Infos to the person</h4>
  </div>
  <div class="col-xs-6 col-md-2">
    <h4>Travel dates</h4>
  </div>
  <div class="col-xs-6 col-md-2"></div>
  <div class="col-xs-6 col-md-2">
    <h4>Promotion</h4>
  </div>
  <div class="col-xs-6 col-md-2">
    <h4>Comments</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Name of traveler</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Depart time</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="inputWidth">
      <mat-label>Depart date</mat-label>
      <input matInput [matDatepicker]="departDate">
      <mat-datepicker-toggle matSuffix [for]="departDate"></mat-datepicker-toggle>
      <mat-datepicker #departDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Depart city</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Depart country</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Booking reference</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State of booking</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Comments</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-2"></div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Arrival time</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="inputWidth">
      <mat-label>Arrival date</mat-label>
      <input matInput [matDatepicker]="arrivalDate">
      <mat-datepicker-toggle matSuffix [for]="arrivalDate"></mat-datepicker-toggle>
      <mat-datepicker #arrivalDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Destination city</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Destination country</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-md-2">
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Paid currenccy</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<button mat-raised-button>Show travels</button>
